<a href="https://colab.research.google.com/github/AnnaKos999/bd/blob/main/versii.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [180]:
import pandas as pd
from sklearn.preprocessing import normalize

In [181]:
data=pd.read_csv("http://intersyn.net/autos.csv")

In [182]:
data

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Kilometer,RegistrationMonth,FuelType,Brand,Repaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,2016-03-24 11:52:17,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354364,2016-03-21 09:50:58,0,NaN,2005,manual,0,colt,150000,7,petrol,mitsubishi,yes,2016-03-21 00:00:00,0,2694,2016-03-21 10:42:49
354365,2016-03-14 17:48:27,2200,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
354366,2016-03-05 19:56:21,1199,convertible,2000,auto,101,fortwo,125000,3,petrol,smart,no,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
354367,2016-03-19 18:57:12,9200,bus,1996,manual,102,transporter,150000,3,gasoline,volkswagen,no,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
354368,2016-03-20 19:41:08,3400,wagon,2002,manual,100,golf,150000,6,gasoline,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21

выполняю первичный анализ (info, describe)

In [183]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  object
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Kilometer          354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  Repaired           283215 non-null  object
 12  DateCreated        354369 non-null  object
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

столбы с датами не воспринимается как формат дата+есть пять столбцов, в которых есть нулевые занчения

Замена формата для столбцов с датами

In [184]:
data["DateCrawled"]=pd.to_datetime(data["DateCrawled"])
data["DateCreated"]=pd.to_datetime(data["DateCreated"])
data["LastSeen"]=pd.to_datetime(data["LastSeen"])

как сработало

In [185]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  datetime64[ns]
 1   Price              354369 non-null  int64
 2   VehicleType        316879 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            334536 non-null  object
 5   Power              354369 non-null  int64
 6   Model              334664 non-null  object
 7   Kilometer          354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           321474 non-null  object
 10  Brand              354369 non-null  object
 11  Repaired           283215 non-null  object
 12  DateCreated        354369 non-null  datetime64[ns]
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(7), object(6)
memory usage: 43.3+ MB

проверка

In [186]:
334536*100/354369

94.40329148430027

а значет, что в столбце с наименьшим кол-вом пропусков - Model, доля пропусков превышает 5% придел. Поэтому удалять их нельзя - нужно заменять пропуски на логичные значения

!

замена пропусков в столбце "VehicleType"
в этом столбце есть сл.значения:

In [187]:
data.VehicleType.unique()

array([nan, 'coupe', 'suv', 'small', 'sedan', 'convertible', 'bus',
       'wagon', 'other'], dtype=object)

заполняем пропуски в этом столбце на значение 'other', т.к. оно уже используется и подходит

In [188]:
data["VehicleType"].fillna(value = "other",inplace=True)

!

замена пропусков в столбце "Gearbox"
в этом столбце есть сл.значения:

In [189]:
data['Gearbox'].unique()

array(['manual', 'auto', nan], dtype=object)

и значений manual подавляющее большенство

In [190]:
data['Gearbox'].value_counts()

manual    268251
auto       66285
Name: Gearbox, dtype: int64

заменяем пропуски на значение "manual"

In [191]:
data["Gearbox"].fillna(value = "manual",inplace=True)

!

замена пропусков в столбце "Model"
в этом столбце есть сл.значения:

In [192]:
data['Model'].unique()

array(['golf', nan, 'grand', 'fabia', '3er', '2_reihe', 'other', 'c_max',
       '3_reihe', 'passat', 'navara', 'ka', 'polo', 'twingo', 'a_klasse',
       'scirocco', '5er', 'meriva', 'arosa', 'c4', 'civic', 'transporter',
       'punto', 'e_klasse', 'clio', 'kadett', 'kangoo', 'corsa', 'one',
       'fortwo', '1er', 'b_klasse', 'signum', 'astra', 'a8', 'jetta',
       'fiesta', 'c_klasse', 'micra', 'vito', 'sprinter', '156', 'escort',
       'forester', 'xc_reihe', 'scenic', 'a4', 'a1', 'insignia', 'combo',
       'focus', 'tt', 'a6', 'jazz', 'omega', 'slk', '7er', '80', '147',
       '100', 'z_reihe', 'sportage', 'sorento', 'v40', 'ibiza', 'mustang',
       'eos', 'touran', 'getz', 'a3', 'almera', 'megane', 'lupo', 'r19',
       'zafira', 'caddy', 'mondeo', 'cordoba', 'colt', 'impreza',
       'vectra', 'berlingo', 'tiguan', 'i_reihe', 'espace', 'sharan',
       '6_reihe', 'panda', 'up', 'seicento', 'ceed', '5_reihe', 'yeti',
       'octavia', 'mii', 'rx_reihe', '6er', 'modus', 'fox', 'matiz',
       'beetle', 'c1', 'rio', 'touareg', 'logan', 'spider', 'cuore',
       's_max', 'a2', 'galaxy', 'c3', 'viano', 's_klasse', '1_reihe',
       'avensis', 'roomster', 'sl', 'kaefer', 'santa', 'cooper', 'leon',
       '4_reihe', 'a5', '500', 'laguna', 'ptcruiser', 'clk', 'primera',
       'x_reihe', 'exeo', '159', 'transit', 'juke', 'qashqai', 'carisma',
       'accord', 'corolla', 'lanos', 'phaeton', 'verso', 'swift', 'rav',
       'picanto', 'boxster', 'kalos', 'superb', 'stilo', 'alhambra',
       'mx_reihe', 'roadster', 'ypsilon', 'cayenne', 'galant', 'justy',
       '90', 'sirion', 'crossfire', 'agila', 'duster', 'cr_reihe', 'v50',
       'c_reihe', 'v_klasse', 'm_klasse', 'yaris', 'c5', 'aygo', 'cc',
       'carnival', 'fusion', '911', 'bora', 'forfour', 'm_reihe', 'cl',
       'tigra', '300c', 'spark', 'v70', 'kuga', 'x_type', 'ducato',
       's_type', 'x_trail', 'toledo', 'altea', 'voyager', 'calibra',
       'bravo', 'antara', 'tucson', 'citigo', 'jimny', 'wrangler',
       'lybra', 'q7', 'lancer', 'captiva', 'c2', 'discovery',
       'freelander', 'sandero', 'note', '900', 'cherokee', 'clubman',
       'samara', 'defender', '601', 'cx_reihe', 'legacy', 'pajero',
       'auris', 'niva', 's60', 'nubira', 'vivaro', 'g_klasse', 'lodgy',
       '850', 'range_rover', 'q3', 'serie_2', 'glk', 'charade', 'croma',
       'outlander', 'doblo', 'musa', 'move', '9000', 'v60', '145', 'aveo',
       '200', 'b_max', 'range_rover_sport', 'terios', 'rangerover', 'q5',
       'range_rover_evoque', 'materia', 'delta', 'gl', 'kalina', 'amarok',
       'elefantino', 'i3', 'kappa', 'serie_3', 'serie_1'], dtype=object)

есть значение 'other', его и зададим в пустые ячейки данного столбца

In [193]:
data["Model"].fillna(value = "other",inplace=True)

!

замена пропусков в столбце "FuelType"
в этом столбце есть сл.значения:

In [194]:
data['FuelType'].value_counts()

petrol      216352
gasoline     98720
lpg           5310
cng            565
hybrid         233
other          204
electric        90
Name: FuelType, dtype: int64

есть значение 'other', его и зададим в пустые ячейки данного столбца

In [195]:
data["FuelType"].fillna(value = "other",inplace=True)

!

замена пропусков в столбце "Repaired"
в этом столбце есть сл.значения:

In [196]:
data['Repaired'].value_counts()

no     247161
yes     36054
Name: Repaired, dtype: int64

ошибочно задавать значение да или нет в пустую ячейку, поэтому лучше присвоить значение нет информации

In [197]:
data["Repaired"].fillna(value = "no_information",inplace=True)

проверка

In [198]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DateCrawled        354369 non-null  datetime64[ns]
 1   Price              354369 non-null  int64
 2   VehicleType        354369 non-null  object
 3   RegistrationYear   354369 non-null  int64
 4   Gearbox            354369 non-null  object
 5   Power              354369 non-null  int64
 6   Model              354369 non-null  object
 7   Kilometer          354369 non-null  int64
 8   RegistrationMonth  354369 non-null  int64
 9   FuelType           354369 non-null  object
 10  Brand              354369 non-null  object
 11  Repaired           354369 non-null  object
 12  DateCreated        354369 non-null  datetime64[ns]
 13  NumberOfPictures   354369 non-null  int64
 14  PostalCode         354369 non-null  int64
 15  LastSeen           354369 non-null  datetime64[ns]
dtypes: datetime64[ns](3), int64(7), object(6)
memory usage: 43.3+ MB

----сортировка от нужной даты-----

In [199]:
data[data["DateCrawled"]>"2016-03-17"]

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Kilometer,RegistrationMonth,FuelType,Brand,Repaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,2016-03-24 11:52:17,480,other,1993,manual,0,golf,150000,0,petrol,volkswagen,no_information,2016-03-24,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,18300,coupe,2011,manual,190,other,125000,5,gasoline,audi,yes,2016-03-24,0,66954,2016-04-07 01:46:50
3,2016-03-17 16:54:04,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,2016-03-31,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,650,sedan,1995,manual,102,3er,150000,10,petrol,bmw,yes,2016-04-04,0,33775,2016-04-06 19:17:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354362,2016-03-19 19:53:49,3200,sedan,2004,manual,225,leon,150000,5,petrol,seat,yes,2016-03-19,0,96465,2016-03-19 20:44:43
354363,2016-03-27 20:36:20,1150,bus,2000,manual,0,zafira,150000,3,petrol,opel,no,2016-03-27,0,26624,2016-03-29 10:17:23
354364,2016-03-21 09:50:58,0,other,2005,manual,0,colt,150000,7,petrol,mitsubishi,yes,2016-03-21,0,2694,2016-03-21 10:42:49
354367,2016-03-19 18:57:12,9200,bus,1996,manual,102,transporter,150000,3,gasoline,volkswagen,no,2016-03-19,0,87439,2016-04-07 07:15:26
354368,2016-03-20 19:41:08,3400,wagon,2002,manual,100,golf,150000,6,gasoline,volkswagen,no_information,2016-03-20,0,40764,2016-03-24 12:45:21

---------------------конец-------------------

смотрим вылеты и ошибки (например, цена продажи =0), дата минимальная 1000 или 9999, мощность мин=0, а макс=20000 (вылеты), регистрационные месяц не может быть 0, столбец с рисунками не несёт информации, он содержит только 0

In [200]:
data.describe()

,Price,RegistrationYear,Power,Kilometer,RegistrationMonth,NumberOfPictures,PostalCode
count,354369.000000,354369.000000,354369.000000,354369.000000,354369.000000,354369.0,354369.000000
mean,4416.656776,2004.234448,110.094337,128211.172535,5.714645,0.0,50508.689087
std,4514.158514,90.227958,189.850405,37905.341530,3.726421,0.0,25783.096248
min,0.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1050.000000,1999.000000,69.000000,125000.000000,3.000000,0.0,30165.000000
50%,2700.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49413.000000
75%,6400.000000,2008.000000,143.000000,150000.000000,9.000000,0.0,71083.000000
max,20000.000000,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.000000

удаление столбца с 0-ми

In [201]:
del data["NumberOfPictures"]

избавляемся от вылета в цене, где она равна 0

In [202]:
data.Price.value_counts()

0        10772
500       5670
1500      5394
1000      4649
1200      4594
         ...
1368         1
233          1
11080        1
16340        1
10985        1
Name: Price, Length: 3731, dtype: int64

количество 0 цен не позволяет удалить данные строки, поэтому требуется задать цену по среднему

In [203]:
mean=data['Price'].mean()
data.loc[(data['Price']==0),'Price']=mean

избавляемся от вылета в годах, где год регистрации меньше 1900 и больше 2024 (будущее)

In [204]:
len(data.loc[data['RegistrationYear']<1900])

66

In [205]:
len(data.loc[data['RegistrationYear']>2024])

105

их количество очень мало, поэтому можно удалить строки

In [206]:
data=data.loc[data['RegistrationYear']<2023]

In [207]:
data=data.loc[data['RegistrationYear']>1901]

избавляемся от вылета в мощности, где она не может быть равна 0 или 20000

In [208]:
len(data.loc[data['Power']>2000])

118

удалить эту строчку

In [209]:
data=data.loc[data['Power']<2000]

а равные 0 ячейки заменим на среднее занчение

In [210]:
mean=data['Power'].mean()
data.loc[(data['Power']==0),'Power']=mean

!!!!!!!!! по образцу отработать и столбец RegistrationMonth!!!!!!!!!

проверка

In [211]:
data.describe()

,Price,RegistrationYear,Power,Kilometer,RegistrationMonth,PostalCode
count,354076.000000,354076.000000,354076.000000,354076.000000,354076.000000,354076.000000
mean,4551.833432,2003.084852,119.471066,128269.651148,5.716787,50513.529866
std,4446.259415,7.536025,60.034827,37819.873330,3.725407,25783.786129
min,1.000000,1910.000000,1.000000,5000.000000,0.000000,1067.000000
25%,1200.000000,1999.000000,84.000000,125000.000000,3.000000,30165.000000
50%,2999.000000,2003.000000,107.317675,150000.000000,6.000000,49413.000000
75%,6400.000000,2008.000000,142.000000,150000.000000,9.000000,71083.000000
max,20000.000000,2019.000000,1999.000000,150000.000000,12.000000,99998.000000

In [212]:
data.RegistrationYear.value_counts()

2000    24486
1999    22723
2005    22104
2001    20112
2006    19893
        ...
1931        1
1915        1
1920        1
1927        1
1946        1
Name: RegistrationYear, Length: 98, dtype: int64

сгруппируем по типу авто и узнаем среднюю цену

In [214]:
data.groupby("VehicleType")["Price"].mean().sort_values()

VehicleType
small          2778.145887
other          2896.311436
sedan          4822.079159
wagon          4979.663262
bus            5553.721248
coupe          6154.973271
convertible    6880.770868
suv            9086.525860
Name: Price, dtype: float64

а средняя цена для бренда:

In [217]:
data.groupby("Brand")["Price"].mean().sort_values()

Brand
daewoo             1091.151127
rover              1528.688878
daihatsu           1863.527742
trabant            2300.824119
renault            2402.599450
lancia             2482.312516
fiat               2836.606798
opel               2886.275679
mitsubishi         3074.345061
peugeot            3199.764940
lada               3272.999472
ford               3302.582997
smart              3548.935582
citroen            3570.496141
mazda              3737.319701
saab               3759.216320
honda              3809.400778
subaru             3842.369007
alfa_romeo         3853.987681
chrysler           3927.548414
suzuki             3971.511989
seat               4119.431590
nissan             4205.143958
volvo              4388.561794
volkswagen         4530.877567
toyota             4838.613024
kia                5085.525606
hyundai            5175.926231
sonstige_autos     5750.110178
chevrolet          5769.110327
dacia              5888.728409
skoda              5963.253235
mercedes_benz      6006.426970
bmw                6295.622774
audi               6372.946808
jaguar             6790.488874
jeep               7185.187099
land_rover         8534.121736
mini               9045.922701
porsche           11163.716617
Name: Price, dtype: float64

группировка по двум столбцам

In [223]:
data.groupby(["Brand","VehicleType"])["Price"].mean().sort_values().head(500)

Brand       VehicleType
porsche     small            140.000000
daewoo      coupe            428.625000
rover       bus              450.000000
hyundai     convertible      550.000000
land_rover  sedan            875.000000
                               ...
audi        suv            13932.366502
trabant     suv            14500.000000
jaguar      convertible    15076.600000
mini        suv            16435.756757
jaguar      small          18500.000000
Name: Price, Length: 298, dtype: float64